@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,800&display=swap');

.main {
    display: flex;
    height: 100vh;
    background: lightgrey;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;
}

.main__section {
    max-width: 1400px;
    height: 75%;
    width: 40%;
    border-radius: 30px;
}

.div__main, .main__calendar-page {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.darker {
    background: #1E212D;
    min-height: 10%;
    color: #FAF3E0;
}

.brighter {
    min-height: 20%;
    background-color: #B68973;
}

.darker, .brighter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__calendar {
    height: 60%;
}

.list__days {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.calendar__row {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FAF3E0;
    color: #1E212D;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.calendar__day {
    width: calc(100%/7);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.day {
    font-weight: 500;
}

.form__event {
    min-height: 50%;
    display: flex;
    background-color: #FAF3E0;
}

.event__insert {
    width: 60%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div__error{
    width: 40%;
    min-height: 100%;
    font-size: 0.9rem;
    color: red;
}

.error__list {
    margin-top: 10%;
}

.error__list > h1 {
    color: #1E212D;
    font-weight: 500;
}

.error {
    margin: 10px 0;
}

.label {
    min-height: 10%;
}

.div__informations {
    min-height: 40%;
    width: 100%;
    background-color: #FAF3E0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.curr {
    /* background-color: red; */
}

.main__month {
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
}

.main__year {
    font-size: 1.6rem;
    font-weight: 800;
}

.empty {
    cursor: default;
}

.button {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 15px;
    padding: 5px;
}

.button:hover {
    transition: .2s;
    color: #FAF3E0;
}

.not-empty{
    transition: .4s;
}

.not-empty:hover {
    transition: .2s;
    color: #EABF9F;
    font-weight: bolder;
}

.chosen__day {
    font-size: 1.2rem;
    font-weight: 800;
}

.input__field {
    border: none;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
    text-transform: uppercase;
    font-size: 0.65rem;
}

.input__field[type=text] {
    min-height: 12%;
    width: 70%;
    font-weight: 800;
    border-radius: 10px;
    text-indent: 20px;
    color: #1E212D;
}

.input__field[type=date], .input__field[type=time] {
    text-align: center;
    min-height: 10%;
    width: 50%;
    font-weight: 500;
    border-radius: 5px;
    color: #1E212D;
    cursor: pointer;
}

.input__field[type=time] {
    width: 30%;
    min-height: 8%;
}

#clicked:focus {
    background-color: #FAF3E0;
    font-size: 0.8rem;
    transition: .2s;
    border-color: #1E212D;
    text-transform: none;
}

input[type=submit] {
    min-height: 8%;
    border: none;
    background: #1E212D;
    border-radius: 10px;
    color: #FAF3E0;
    font-size: 0.8rem;
    width: 20%;
}

.event {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    color: #1E212D;
}

.event__data {
    width: 60%;
}

.event__date {
    text-align: end;
    width: 20%;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 500;
}

.event__data > h2 {
    font-weight: 500;
    font-size: 0.9rem;
}

.event__date > h4 {
    font-weight: 800;
}

.events__list > h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}